* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*************regole generali*******************/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
/*********Utility class********/
.padding-laterale {
  padding: 0 30px;
}
.margin-top {
  margin-top: 15px;
}
.text-small {
  font-size: small;
}
.text-gray {
  color: gray;
}
/*****************Regole pagina**********************/
/*********Regole macrostruttura*********************/
footer {
  height: 100px;
  background-color: #282828;
}
main {
  display: flex;
  height: calc(100vh - 100px);
}
/*****************Regole nav-bar*************************/
.nav-bar-laterale {
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  flex-basis: 300px;
  background-color: black;
  padding: 30px 0;
  color: #a3a3a3;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}

.img-logo {
  max-width: 70%;
}
.img-logo-small {
  display: none;
  max-width: 2.5rem;
}

.categoria img {
  vertical-align: middle;
  filter: contrast(50%);
}
.icon-image-categoria {
  max-width: 2.5rem;
  margin-right: 10px;
  color: #a3a3a3;
}
.border {
  border-left: 7px solid transparent;
}
.home {
  border-color: orange;
  color: white;
}
.home img {
  filter: contrast(100%);
}
.add-playlist .icon-add {
  color: black;
  padding: 15px;
  background-color: #a3a3a3;
}
.container-new-playlist {
  max-height: 200px;
  overflow: scroll;
}
.icon-image-download {
  max-width: 1.5rem;
  margin-right: 10px;
}
.download-app {
  padding: 0;
  margin: 0 30px;
  border-bottom: 3px solid #a3a3a3;
}
.icon-image-profile {
  max-width: 3rem;
  background-color: #a3a3a3;
  border-radius: 50%;
  margin-right: 10px;
}
.playlist h6 {
  font-size: 1.5rem;
  color: white;
}
.name-profile {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.hover-white :hover {
  color: white;
  filter: contrast(100%);
}
.hover-white :hover img {
  filter: contrast(100%);
}
/*************Regole parte principale******************/
.corpo-principale {
  height: 100%;
  flex-basis: 100%;
  background-color: #141922;
  overflow: auto;
  color: white;
}
.contenuto {
  width: 100%;
  padding: 20px;
}
.upgrade-fixed {
  width: 100%;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  text-align: end;
  position: sticky;
  top: 0;
  background-color: black;
  opacity: 0.9;
  color: white;
}
.upgrade-link {
  padding: 5px 30px;
  border: 2px solid white;
  border-radius: 20px;
}
.upgrade-fixed :hover {
  font-size: 1.5rem;
}
.nav-bar-contenuto ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #a3a3a3;
}
.nav-bar-contenuto li {
  padding: 0 10px 30px 10px;
}
.nav-bar-contenuto .selezionato {
  margin: 0 auto;
  border: 4px solid transparent;
  width: 40px;
}
.nav-bar-contenuto #in-evidenza {
  border-color: orange;
}
.contenuto h3 {
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 15px;
}
.contenuto p {
  font-size: medium;
  font-weight: 500;
  color: #a3a3a3;
  padding: 15px 0;
}
.contenuto h5 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 0;
}
.contenitore-album-recently {
  display: flex;
  width: 100%;
}
.blocco-bialbum {
  display: flex;
  width: calc(100% / 3);
}
.singolo-album-blocco {
  line-height: 1.5rem;
  width: calc(100% / 2);
  padding: 20px 20px 20px 0;
}
.singolo-album-blocco img {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.artisti-popolari img {
  border-radius: 50%;
}
/*************Regole footer**********************/
.wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
  color: white;
}
.copertina-brano-play {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
.img-copertina-brano-play {
  width: 20%;
}
.img-copertina-brano-play img {
  max-width: 100%;
}
.descrizione-brano-play {
  width: 50%;
}
.descrizione-brano-play h6 {
  font-size: large;
}
.icone-brano-play {
  width: 25%;
  font-size: 1.5rem;
  text-wrap: nowrap;
}
.comandi-player {
  width: 40%;
  margin: 0 auto;
}
.icone-comandi-play ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone-comandi-play li {
  font-size: large;
  margin: 0 3%;
}
.icone-comandi-play #play-icon {
  font-size: 2rem;
  background-color: white;
  color: #282828;
  border-radius: 50%;
}
.barra-riproduzione ul {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}
.barra {
  width: 70%;
  position: relative;
  display: inline-block;
}
.barra-piena {
  display: inline-block;
  width: 17%;
  border: 3px solid white;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
  margin-left: 3%;
  vertical-align: middle;
}
.barra-vuota {
  display: inline-block;
  width: 77%;
  border: 3px solid gray;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 30%;
  margin-right: 3%;
  vertical-align: middle;
}
.pallino {
  display: none;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 19%;
}
.comandi-generali {
  width: 20%;
}
.comandi-generali ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.comandi-generali li {
  margin-left: 10px;
}
.icone-brano-play :hover {
  color: white;
}
.descrizione-brano-play .text-small :hover {
  color: white;
  text-decoration: underline;
}
.comandi-player #play-icon :hover {
  font-size: 2.5rem;
}

.barra-riproduzione :hover .barra-piena {
  border-color: orange;
}
.barra-riproduzione :hover .pallino {
  display: inline-block;
}
.comandi-generali :hover .barra-piena {
  border-color: orange;
}
.comandi-generali :hover .pallino {
  display: inline-block;
}
.comandi-generali {
  display: flex;
}
