* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.padding-laterale {
  padding: 0 30px;
}
.margin-top {
  margin-top: 15px;
}
footer {
  height: 100px;
  background-color: gray;
}
main {
  display: flex;
  height: calc(100vh - 100px);
}
.nav-bar-laterale {
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  flex-basis: 300px;
  background-color: black;
  padding: 30px 0;
  color: #a3a3a3;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}
.corpo-principale {
  height: 100%;
  flex-basis: 100%;
  background-color: blue;
  overflow: auto;
}
.contenuto {
  width: 100%;
}
.upgrade-fixed {
  width: 100%;
  position: sticky;
  top: 0;
  text-align: end;
  background-color: black;
  opacity: 0.9;
  color: white;
}
.upgrade-link {
  padding: 5px 30px;
  border: 2px solid white;
  border-radius: 20px;
  margin: 30px 5px;
}
.img-logo {
  max-width: 70%;
}
.img-logo-small {
  display: none;
  max-width: 2.5rem;
}
.categoria img {
  vertical-align: middle;
}
.icon-image-categoria {
  max-width: 2.5rem;
  margin-right: 10px;
  color: #a3a3a3;
}
.border {
  border-left: 7px solid transparent;
}
.home {
  border-color: orange;
}
.add-playlist .icon-add {
  color: black;
  padding: 15px;
  background-color: #a3a3a3;
}
.container-new-playlist {
  max-height: 200px;
  overflow: scroll;
}
.icon-image-download {
  max-width: 1.5rem;
  margin-right: 10px;
}
.download-app {
  padding: 0;
  margin: 0 30px;
  border-bottom: 3px solid #a3a3a3;
}
.icon-image-profile {
  max-width: 3rem;
  background-color: #a3a3a3;
  border-radius: 50%;
  margin-right: 10px;
}
.playlist h6 {
  font-size: 1.5rem;
  color: white;
}
.name-profile {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.hover-white :hover {
  color: white;
}
