* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
/*************regole generali*******************/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.schermo-down {
  height: 100vh;
  display: none;
  background-color: black;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
/*********Utility class********/
.padding-laterale {
  padding: 0 20px;
}
.margin-top {
  margin-top: 10px;
}
.text-small {
  font-size: small;
}
.text-gray {
  color: gray;
}
/*****************Regole pagina**********************/
/*********Regole macrostruttura*********************/
footer {
  height: 70px;
  background-color: #282828;
}
main {
  display: flex;
  height: calc(100vh - 70px);
}
/*****************Regole nav-bar*************************/
.nav-bar-laterale {
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  flex-basis: 200px;
  background-color: black;
  padding: 20px 0;
  color: #a3a3a3;
  line-height: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}

.img-logo {
  max-width: 80%;
}
.img-logo-small {
  display: none;
  max-width: 1.8rem;
}

.categoria img {
  vertical-align: middle;
  filter: contrast(50%);
}
.icon-image-categoria {
  max-width: 1.8rem;
  margin-right: 7px;
  color: #a3a3a3;
}
.border {
  border-left: 4px solid transparent;
}
.home {
  border-color: orange;
  color: white;
}
.home img {
  filter: contrast(100%);
}
.add-playlist .icon-add {
  color: black;
  padding: 7px;
  background-color: #a3a3a3;
}
.container-new-playlist {
  max-height: 200px;
  overflow: scroll;
}
.icon-image-download {
  max-width: 1.5rem;
  margin-right: 7px;
}
.download-app {
  padding: 0;
  margin: 0 20px;
  border-bottom: 2px solid #a3a3a3;
}
.icon-image-profile {
  max-width: 2rem;
  background-color: #a3a3a3;
  border-radius: 50%;
  margin-right: 7px;
}
.playlist h6 {
  font-size: 1.2rem;
  color: white;
}
.name-profile {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}
.hover-white :hover {
  color: white;
  filter: contrast(100%);
}
.hover-white :hover img {
  filter: contrast(100%);
}
/*************Regole parte principale******************/
.corpo-principale {
  height: 100%;
  flex-basis: 100%;
  background-color: #141922;
  overflow: auto;
  color: white;
}
.contenuto {
  width: 100%;
  padding: 15px;
}
.upgrade-fixed {
  width: 100%;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: end;
  position: sticky;
  top: 0;
  background-color: black;
  opacity: 0.9;
  color: white;
  z-index: 900;
}
.upgrade-link {
  padding: 4px 2cqw;
  border: 1.5px solid white;
  border-radius: 20px;
}
.upgrade-fixed :hover {
  font-size: 1.2rem;
}
.nav-bar-contenuto ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #a3a3a3;
}
.nav-bar-contenuto li {
  padding: 0 10px 30px 10px;
}
.nav-bar-contenuto .selezionato {
  margin: 0 auto;
  border: 2px solid transparent;
  width: 40px;
}
.nav-bar-contenuto #in-evidenza {
  border-color: orange;
}
.contenuto h3 {
  font-size: 1.8rem;
  font-weight: bolder;
  padding-top: 10px;
}
.contenuto p {
  color: #a3a3a3;
  padding: 12px 0;
}
.contenuto h5 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0;
}
.contenitore-album-recently {
  display: flex;
  width: 100%;
  gap: 15px;
}
.singolo-album-blocco {
  line-height: 1.2rem;
  width: calc(100% / 6 - 20px / 6);
}
.singolo-album-blocco img {
  max-width: 100%;
}
.text-center {
  text-align: center;
  max-width: 100%;
}
.artisti-popolari img {
  border-radius: 50%;
}
.img-album {
  position: relative;
}
.hover-img {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 80%;
  text-align: center;
}
.hover-img a {
  display: table-cell;
  vertical-align: middle;
}
.hover-img i {
    font-size: 3rem;
}
.singolo-album-blocco :hover .hover-img {
  display: table;
}
.artisti-popolari .hover-img {
  border-radius: 50%;
}
.blocco-bialbum {
  display: flex;
  gap: 15px;
}
/*************Regole footer**********************/
.wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 70px;
  color: white;
}
.copertina-brano-play {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
.img-copertina-brano-play {
  width: 20%;
}
.img-copertina-brano-play img {
  max-width: 100%;
}
.descrizione-brano-play {
  width: 50%;
}
.descrizione-brano-play h6 {
  font-size: large;
}
.icone-brano-play {
  width: 25%;
  text-wrap: nowrap;
}
.icone-brano-play i {
    font-size: 1.5rem;
}
.comandi-player {
  width: 40%;
  margin: 0 auto;
}
.icone-comandi-play ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone-comandi-play li {
  font-size: large;
  margin: 0 3%;
}
.icone-comandi-play #play-icon i {
  font-size: 2rem;
}
.barra-riproduzione ul {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}
.barra {
  width: 70%;
  position: relative;
  display: inline-block;
}
.barra-piena {
  display: inline-block;
  width: 17%;
  border: 2px solid white;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
  margin-left: 3%;
  vertical-align: middle;
}
.barra-vuota {
  display: inline-block;
  width: 77%;
  border: 2px solid gray;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 30%;
  margin-right: 3%;
  vertical-align: middle;
}
.pallino {
  display: none;
  padding: 7px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 19%;
}
.comandi-generali {
  width: 20%;
}
.comandi-generali ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.comandi-generali li {
  margin-left: 8px;
}
.icone-brano-play :hover {
  color: white;
}
.descrizione-brano-play .text-small :hover {
  color: white;
  text-decoration: underline;
}
.comandi-player #play-icon :hover {
  transform: scale(1.6);
}

.barra-riproduzione :hover .barra-piena {
  border-color: orange;
}
.barra-riproduzione :hover .pallino {
  display: inline-block;
}
.comandi-generali :hover .barra-piena {
  border-color: orange;
}
.comandi-generali :hover .pallino {
  display: inline-block;
}
.comandi-generali {
  display: flex;
}

@media screen and (max-height: 560px) {
  .container-new-playlist {
    max-height: 80px;
  }
  footer {
    position: sticky;
  }
}
@media screen and (max-height: 450px) {
  .container-new-playlist {
    display: none;
  }
}

@media screen and (max-width: 552px) {
  main .nav-bar-laterale {
    flex-basis: 2.5rem;
  }
  .nav-bar-laterale .padding-laterale {
    padding: 5px;
  }
  .logo .img-logo {
    display: none;
  }
  .logo .img-logo-small {
    display: block;
  }
  .categorie-nav-bar .icon-image-categoria {
    margin: 0 auto;
    padding: 0;
  }
  .scompare {
    display: none;
  }
  .border {
    border: 0px;
  }
  .footer-nav-bar .download-app {
    margin: 0 auto;
    border: 0;
    padding-left: 0;
  }
  .footer-nav-bar .download-app a {
    display: block;
    width: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .footer-nav-bar .download-app .icon-image-download {
    margin: 0;
  }
  .footer-nav-bar .icon-image-profile {
    margin: 0;
  }
  .footer-nav-bar .margin-top {
    margin: 0;
  }
}

@media screen and (max-width : 800px){
    footer .icone-brano-play {
        text-wrap: wrap;
        font-size: 0.8rem;
    }
    footer .wrapper-footer .descrizione-brano-play {
        width : auto;
    }
    footer .comandi-generali {
        width: 29%;
    }
    footer .copertina-brano-play {
        width: 29%;
    } 
    .contenuto .singolo-album-blocco {
      width: calc(100% / 2 - 20px);
    }
}
@media screen and (max-width: 1000px) {
    .contenitore-album-recently {
      flex-wrap: wrap;
    }
   .singolo-album-blocco {
      width: calc(100% / 4 - 20px);
    }
}
@media screen and (max-width : 350px){
  main {
    display: none;
  }
  footer {
    display: none;
  }
  .schermo-down {
    display: block;
  }
}